h4{
    border: 1px;
    padding: 8px;
    margin: 6px;
    display: inline-block;
    border-radius: 1px;
background: linear-gradient(pink,blueviolet);
}
h4{
    border:1px solid black;
    padding:5px;
     border-radius: 5px;
}
h1{border: 1px;
    padding: 8px;
    margin: 6px;
    display: inline-block;
    border-radius: 1px;
background: linear-gradient(rgb(153, 85, 97), rgb(214, 148, 148));
    
}
p{
    border: 1px;
    padding: 8px;
    margin: 6px;
    display: inline-block;
    border-radius: 1px;
background: linear-gradient(rgb(157, 157, 240), blueviolet)

}
button{
    color:plum;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease
  }
  button:hover {
    color: white;
    background: black;
}
body{
    text-align: center;
}
body{
    background: url("fondo-hojas-minimalistas_23-2148909132.jpg") no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative
}
h3{
    line-height: normal; color: plum;
}
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Architects Daughter', cursive;
}
h1{
padding: 12px;
color: black;
background-image: linear-gradient(to bottom right, pink, rgb(142, 85, 175));
}

